@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    letter-spacing: 3px;
    display: flex;
    flex-direction: row;
    font-size: 7px;
    font-family: 'Rozha One', serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


#menu {
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#menu a {
    color: #000000;
    font-family: 'Manrope', sans-serif;
}

.fundo {
    background-color: rgb(255, 255, 255);
}

.navbar-kkk {
    justify-content: end;
    align-items: flex-end;
    padding-left: 201px;
}

.menu-bar {
    align-items: flex-end;
}

.navbar-kkk li {
    justify-content: flex-end;
    padding: 40px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    justify-content: end;
}

.nav-item img {
    padding: 0 60px;
}

.logo #img-logo {
    padding-left: 60px;
    width: 570px;
    height: 155px;
}

#cart {
    margin: 5rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

#cart span {
    size: 10rem;
}

#first-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 5vw);
    padding: 5rem 0;
}


#first {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url('../img/image1.jfif');
    background-position: 15% 15%;
}

#first:hover {
    background-position: 20;
}

#second {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}

#texts-first {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 5vw);
}

#texts-first h1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 4px;
    line-height: 4rem;
    font-size: 1.8vw;
    text-align: center;
    box-shadow: 10px #696868;
}

#texts-first h2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 4px;
    line-height: 4rem;
    font-size: 1.8vw;
    text-align: center;
    border: 1px #696868;
}


#image-princi {
    background-image: url(../img/capa.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 270px;
    overflow: hidden;
}

#image-princi img {
    width: 100%;
}

#new-colecao {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 5vw);
    margin-top: 3%;
}

#new-colecao img {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;

}

.products {
    display: flex;
    float: right;
}

#products img {
    width: 300px;
    height: 320px;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}



#cards {
    display: flex;
    flex-direction: row;
}

.card {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 11.875em;
    height: 16.5em;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
    margin: 5%;
}

:root {
    --color-neutra-0: #0e0e0c;
    --color-neutra-10: #171717;
    --color-neutra-30: #a8a29e;
    --color-neutra-40: #f5f5f5;

}

footer {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 100%;
    color: var(--color-neutra-40);
}

#footer_content {
    background-color: var(--color-neutra-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;

}


#footer_social_midia {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;

}

#footer_contents img {
    height: 52px;
    width: 340px;
    margin-bottom: 2rem;
}

.footer-link {
    text-decoration: none;
}

#footer_social_midia .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutra-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_midia .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#linkedin {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

#footer_social_midia .footer-link i {
    font-size: 1.25rem;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutra-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: var(--color-neutra-40);
}

.footer-list {
    list-style: none;
}

#subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutra-30);

}

#input-group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutra-0);
    border-radius: 4px;
}

#input-group input {
    all: unset;
    padding: 0.70rem;
    width: 100%;
}

#input-group button {
    background-color: var(--color-neutra-40);
    border: none;
    color: var(--color-neutra-0);

    padding: 0.6rem 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input-group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutra-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

#collection .all-cards .card-index {
    width: 26rem;
}

.all-cards {
    display: flex;
    padding-top: 100px;
    padding: 49px
}

.card .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
    color: #000;
}

.card .price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
    color: #000;
}



.text {
    max-width: 55px;
}

.image {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

#collection {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: start;
    margin-top: 60px;
    padding: 70px;
}

#blog {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid #0e0e0c;
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.blog-heading span {
    color: #e0cb0a;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;

}

.blog-box {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #e0cb0a;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 0.9rem;
    font-weight: 500;
    color: #272727;
}

.blog-text .blog-title:hover {
    opacity: 0.8;
    transition: all ease 0.4s;
}

.blog-text p {
    color: #838282;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.card-final h1 {
    font-family: 'Manrope', sans-serif;
    padding: 18px;
    font-size: 2rem;
    font-weight: bold;
}


#new-collection {
    width: 564px;
    height: 869px;
    background-image: url("../img/Jewelry.jfif");
    background-position: cover;
    margin-top: 30px;
    margin-bottom: 35px;
}

.card-body #button {
    background-color: transparent;
    border: 1px solid #272727;
    color: #272727;
}

.card-body #button:hover {
    color: #ffffff;
    background-color: #000000;
}

.card #text-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.all-navbar {
    background-color: #ffffff;
}

.all-navbar a {
    text-decoration: none;
    color: #000000;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.3rem;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #ffffff;
}

.carde {
    width: 300px;
    height: 400px;
    display: flex;

    background-color: #000000;
}

.cards {
    width: 150px;
    height: 300px;
    background-image: url("./images/product1.jpg");
    background-position: center;
    background-size: contain;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: 2, 1fr;
        gap: 2rem;
    }

    #image-princi {
        width: 100%;
    }

    #first {
        margin-left: 20px;
        width: 750px;
    }

    #second {
        display: none;
    }

    #texts-first h2 {
        display: none;
    }

    #footer_content {
        grid-template-columns: 1, 1fr;
        padding: 3rem 2rem;
    }

    #footer_content {
        display: block;
        padding: 2rem;
    }

    #footer_contents img {
        width: 100%;
        height: auto;
    }

    #footer_social_midia {
        flex-wrap: wrap;
        justify-content: center;
    }

    #footer_social_midia .footer-link {
        margin-bottom: 1rem;
    }

    #subscribe {
        text-align: center;
    }
}

@media screen and (max-width: 1250px) {
    .blog-box {
        width: 300px;
    }

    .navbar-kkk {
        padding: 17px;
    }
}

@media screen and (max-width: 1100px) {
    .blog-box {
        width: 70%;
    }
}

@media screen and (max-width: 550px) {
    .blog-box {
        margin: 20px 10px;
        width: 100%
    }

    #blog {
        padding: 20px;
    }
}

@media screen and (max-width: 1366px) {
    .navbar-kkk {
        padding-left: 10px;
    }

    .logo #img-logo {
        padding-left: 10px;
        width: 400px;
        height: auto;
    }

    #first-container {
        display: flex;
    }

    #first {
        width: 624px;
        height: 817px;
        margin: 10px;
    }

    #second {
        width: 702px;
        margin: 10px;
        margin-left: 40px;
        height: 817px;
    }

    #texts-first {
        display: flex;
    }

    #texts-first h1 {
        font-size: 2.5rem;
        width: 417px;
        margin-left: 7rem;
    }

    #texts-first h2 {
        font-size: 2.5rem;
        width: 460px;
        margin-left: 17rem;
    }

    #collection .all-cards .card-index {
        width: 23rem;
    }

    .cabecalho {
        width: 100%;
    }

    #image-princi {
        margin-top: 10rem;

    }

    #collection {
        display: flex;
        padding: 17px;
    }

    #new-collection {
        width: 564px;
        height: 869px;
        background-image: url("../img/Jewelry.jfif");
        background-position: cover;
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .all-cards {
        display: flex;
        flex-wrap: nowrap;
    }

}

@media screen and (max-width: 1070px) {
    #new-collection {
        display: none;
    }

    #collection .all-cards .card-index {
        width: 26px;
    }
}


@media screen and (max-width: 1287px) {
    .navbar-kkk {
        padding: 17px;
    }

    #first {
        width: 624px;
        height: 817px;
        margin: 10px;
    }
}


@media screen and (max-width: 414px) {
    .navbar-kkk {
        padding-left: 10px;
    }

    .logo #img-logo {
        padding-left: 10px;
        width: 331px;
        height: auto;
    }

    #first-container {
        display: flex;
        padding: 1rem;
        justify-content: center;
    }

    #first {
        width: 404px;
        height: auto;
    }

    #texts-first {
        display: none;
    }

    #texts-first h1 {
        display: none;
    }

    #texts-first h2 {
        display: none;
    }

    #second {
        display: none;
    }

    .cabecalho {
        width: 100%;
    }

    #image-princi {
        display: none;
    }

    #collection {
        margin: 0;
        padding: 0;
    }

    .blog-heading {
        margin-top: 30px;
    }

    #collection .all-cards .card-index {
        width: 26rem;
    }

    #new-collection {
        display: none;
    }

    .all-cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #blog {
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
    }

    #footer_content {
        grid-template-columns: 1, 1fr;
        padding: 3rem 2rem;
    }

    #footer_content {
        display: block;
        padding: 2rem;
    }

    #footer_contents img {
        width: 100%;
    }

    #footer_social_midia {
        flex-wrap: wrap;
        justify-content: center;
    }

    #footer_social_midia .footer-link {
        margin-bottom: 1rem;
    }

    #subscribe {
        text-align: center;
    }

}