<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="../assets/css/contact.css">
  <link rel="icon" href="../assets/img/icone.jpg" type="image/png">
  <title>Contact Us</title>
</head>

<body>

  <!-- Menu do site -->

  <nav class="navbar navbar-expand-lg bg-body-tertiary logo">
    <div class="container-fluid ">
      <img id="img-logo" src="../assets/img/logo3.png">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-kkk justify-content-end" id="navbarSupportedContent"
        style="justify-content: end;">
        <ul class="navbar-nav  mb-2 mb-lg-0 menu-bar">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/aboutus.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/products.html">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/contact.html">Contact us</a>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><img
                src="../assets/img/shop.png"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Imagem cabeçalho -->

  <div class="cabecalho">
    <h2>Contact Us </h2>
    <p>If you have any questions about the products and want to talk to us, send us a message.</p>
  </div>

  <!-- Container com o formulário e mapa -->

  <section class="contact cont" id="contact">
    <div class="container">
      <div class="row">
        <div class="col iframe-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.1741801613814!2d-73.99123068459192!3d40.73314214312277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2598d2a2b65c1%3A0x80a8ab58f09fda6f!2s123%20Main%20St%2C%20New%20York%2C%20NY%2010001%2C%20United%20States!5e0!3m2!1sen!2sca!4v1645451965753!5m2!1sen!2sca"
            allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col">
          <label for="inputEmail4" class="texts">Name</label>
          <input type="text" class="form-control" placeholder="Name" aria-label="Name" required><br>
          <label for="inputEmail4" class="texts">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email" required><br>
          <label for="inputEmail4" class="texts">Zip</label>
          <input type="number" class="form-control" id="inputZip" placeholder="12345-123" required><br>
          <label for="exampleFormControlTextarea1" class="form-label texts">Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <input class="form-check-input" type="checkbox" id="gridCheck" required>
          <label class="form-check-label" for="gridCheck">
            I declare that I have read and agree with the terms and conditions of use of my data.
          </label><br>
          <br><button type="submit" class="btn btn-primary">Send email</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->

  <footer>
    <div id=footer_content>
      <div id="footer_contents">
        <img src="../assets/img/footer-logo.png">
        <p>Shine with style and sophistication, dress in our jewelry.</p>

        <div id="footer_social_midia">
          <a href="https://www.instagram.com/gi_fiuzaa/" class="footer-link" id="instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>

          <a href="https://www.linkedin.com/in/gifiuzaa/" class="footer-link" id="linkedin">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>

          <a href="https://www.salehriaz.com/404Page/404.html#" class="footer-link" id="whatsapp">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </div>
      </div>
      <ul class="footer-list">
        <li>
          <h3>Blog</h3>
        </li>
        <li>
          <a href="../index.html#blog" class="footer-link">Jewelry Care</a>
        </li>
        <li>
          <a href="../index.html#blog" class="footer-link">How choose a jewelry</a>
        </li>
        <li>
          <a href="../index.html#blog" class="footer-link">Trend jewelry</a>
        </li>
      </ul>
      <ul class="footer-list">
        <li>
          <h3>Our services</h3>
        </li>
        <li>
          <a href="../index.html" class="footer-link">Home</a>
        </li>
        <li>
          <a href="../views/aboutus.html" class="footer-link">About Us</a>
        </li>
        <li>
          <a href="../views/products.html" class="footer-link">Products</a>
        </li>
        <li>
          <a href="../views/contact.html" class="footer-link">Contact Us</a>
        </li>
      </ul>

      <div id="footer_subscribe">
        <h3>Subsribe</h3>

        <p>
          Enter the e-mail to get notified about new products and news.
        </p>

        <div id="input-group">
          <input type="email" id="email">
          <button onclick="apagar()">
            <i class="fa-regular fa-envelope"></i>
          </button>
          <script>
            function apagar() {
              document.getElementById('email').value = '';
            }
          </script>
        </div>
      </div>

    </div>

    <div id="footer_copyright">
      &#169
      Projeto Integrador - Giovanna Fiuza
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>

</html>